[submodule "exchangeCurrency"]
	path = exchangeCurrency
	url = https://github.com/gaebonglee/exchangeCurrency.git
[submodule "kurly"]
	path = kurly
	url = https://github.com/gaebonglee/kurly.git
[submodule "toDoList"]
	path = toDoList
	url = https://github.com/gaebonglee/toDoList.git
