* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 1050px;
  margin: 0px auto;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 80px 0px;
}

.timerWrap {
  width: 250px;
}

.timerWrap h2 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.timerWrap h3 {
  padding-top: 12px;
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-weight: 600;
  line-height: 1.3;
}

.timerWrap p {
  padding-top: 12px;
  font-size: 13px;
  color: rgb(153, 153, 153);
  line-height: 1.3;
}
.timercontent {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 25px 0 5px;
}

.timercontent .timerIcon {
  color: rgb(189, 118, 255);
  font-size: 30px;
}
.timercontent .timeLimit {
  font-size: 25px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

/*상품설명*/
.productWrap {
  width: 694px;
  position: relative;
}

.productWrap .eventBedge {
  position: absolute;
  border-radius: 4px;
  background-color: rgb(189, 118, 255);
  top: 8px;
  left: 8px;
  padding: 6px 8px;
}

.eventBedge p {
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.productImg {
  overflow: hidden;
  border-radius: 5px;
}

.productImg img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.productImg:hover img {
  transform: scale(1.025);
}

.productButton > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  margin-top: 6px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid rgb(221, 221, 221);
  background-color: white;
  border-radius: 5px;
}

.productInfo {
  padding: 10px 0 0;
}

.product_description {
  margin-bottom: 8px;
  font-size: 13px;
  color: rgb(153, 153, 153);
}

.product_name {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(51, 51, 51);
}

.product_price,
.review_count {
  display: flex;
  align-items: center;
}

.product_price .discount {
  font-size: 17px;
  font-weight: 600;
  margin-right: 7px;
}
.product_price .discount .colorPercentage {
  color: rgb(250, 98, 47);
}
.product_price .originalPrice {
  font-size: 13px;
  display: block;
  color: rgb(181, 181, 181);
  text-decoration: line-through;
}

.review_count {
  font-size: 13px;
  display: block;
  color: rgb(181, 181, 181);
}
