.gradient_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #cd97ff, #7c81ff);
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  .cloudwrap {
    position: absolute;
    width: 45rem; // 원하는 구름 이미지의 크기로 조정
    height: auto;
    @include respond-to("mobile") {
      position: absolute;
      width: 20rem;
      height: auto;
    }
    @include respond-to("tablet") {
      position: absolute;
      width: 30rem;
      height: auto;
    }
    @include respond-to("desktop") {
      position: absolute;
      width: 45rem;
      height: auto;
    }

    &.cloud2,
    &.cloud4 {
      left: 0;
    }

    &.cloud3,
    &.cloud5 {
      right: 0;
    }
  }

  .cloud2 {
    top: 0%;
  }

  .cloud3 {
    top: 25%;
  }

  .cloud4 {
    top: 50%;
  }

  .cloud5 {
    top: 75%;
  }
}
