.FrontImage_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; // IntroText보다 앞에 위치
}

.imageWrap {
  position: relative;

  .iconimg {
    position: absolute;
  }

  .heart2 {
    width: 24rem;
    bottom: 5rem;
    left: 11rem;
    transform: rotate(15deg);
    @include respond-to("mobile") {
      width: 11rem;
      bottom: 2.5rem;
      left: 6rem;
    }

    @include respond-to("tablet") {
      width: 18rem;
      bottom: 3.75rem;
      left: 8.5rem;
    }

    @include respond-to("desktop") {
      width: 24rem;
      bottom: 5rem;
      left: 11rem;
    }
  }
  .flower1 {
    width: 100px;
    bottom: 1rem;
    right: 16rem;
    transform: rotate(-10deg);
    @include respond-to("mobile") {
      width: 50px;
      bottom: 0.5rem;
      right: 8rem;
    }

    @include respond-to("tablet") {
      width: 70px;
      bottom: 0.75rem;
      right: 12rem;
    }

    @include respond-to("desktop") {
      width: 100px;
      bottom: 1rem;
      right: 16rem;
    }
  }
}
