.IntroText_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.circle_wrap {
  position: absolute; // 중앙에 배치하기 위해 절대 위치로 설정
  display: flex;
  justify-content: center;
  align-items: center;

  .circle1 {
    width: 800px;
    height: 300px;
    border-radius: 50%;
    border: 1rem solid #f80186;
    position: absolute;
    z-index: 1;
    transform: rotate(160deg);
    @include respond-to("mobile") {
      border: 0.5rem solid #f80186;
      width: 400px;
      height: 150px;
    }

    @include respond-to("tablet") {
      border: 0.75rem solid #f80186;
      width: 600px;
      height: 225px;
    }

    @include respond-to("desktop") {
      border: 0.5rem solid #f80186;
      width: 800px;
      height: 300px;
    }
  }

  .circle2 {
    width: 700px;
    height: 250px;
    border-radius: 50%;
    border: 1rem solid #f80186;
    position: absolute;
    z-index: 1;
    transform: rotate(160deg);
    @include respond-to("mobile") {
      border: 0.5rem solid #f80186;
      width: 350px;
      height: 125px;
    }

    @include respond-to("tablet") {
      border: 0.75rem solid #f80186;
      width: 525px;
      height: 187.5px;
    }

    @include respond-to("desktop") {
      border: 1rem solid #f80186;
      width: 700px;
      height: 250px;
    }
  }
}

.content {
  position: relative;
  z-index: 2;

  p {
    font-size: 7rem;
    font-weight: 800;
    margin: 0;
    color: white;
    -webkit-text-stroke: 2px #f80186;
    text-shadow: -5px 5px 1px #f80186;
    letter-spacing: -12px; // 글자 간격을 좁게 설정
    @include respond-to("mobile") {
      font-size: 3.5rem;
      letter-spacing: -6px;
    }

    @include respond-to("tablet") {
      font-size: 5.25rem;
      letter-spacing: -9px;
    }

    @include respond-to("desktop") {
      font-size: 7rem;
      letter-spacing: -12px;
    }
  }
}
