.AboutMeText_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.AboutMeText_titleWrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .aboutmeLogo {
    width: 15rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    &.left_to_center {
      animation: leftToCenter 2s forwards;
    }
    &.center_to_left {
      animation: moveToLeft 2s forwards;
    }
  }
}

@keyframes leftToCenter {
  from {
    left: 0;
  }
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes centerToLeft {
  from {
    left: 50%;
    transform: translateX(-50%);
  }
  to {
    left: 0;
  }
}

.faceImg {
  position: relative;
  img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
  }
}

.AboutMeText_infoWrap,
.AboutMeText_descriptionWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative; /* 부모 요소에 position: relative; 추가 */
}
.AboutMeText_descriptionWrap {
  flex-direction: column;
  margin: 0 5rem;
  min-width: 410px;
}

.AboutMeText_infoWrap {
  .heart4 {
    width: 10rem;
    position: absolute; /* 자식 요소에 position: absolute; 추가 */
    bottom: 0; /* bottom 속성 적용 */
  }
}

.infoText_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .info {
    padding: 10px;
    border: 1px solid black;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: white;

    &.name {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &.github {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.skills_wrap {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.skills_wrap,
.description_wrap {
  width: 100%;
  min-width: 440px;
}
.textContents {
  width: 100%; // 추가: 내용이 가득 차도록 설정
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.8rem;
    position: relative;
    margin-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: gray;
    }
  }
}

.skills_icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;

  .skill_icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;

    &:hover .skill_level {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }

    img {
      border: 1px solid black;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    .skill_level {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 18px;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 2;
    }
  }
}
