.Portfolio_container {
  position: relative;
  width: 100%;
  min-height: 110vh;
  overflow: hidden;
}

.content_container {
  position: relative;
  width: 100%;
  min-height: 110vh;
  z-index: 1; // 배경 위에 콘텐츠가 표시되도록 설정
  display: flex;
  flex-direction: column;
}
